<form method="delete" action="{{ path('message_delete', {'id': message.id}) }}" onsubmit="return confirm('Are you sure you want to delete this commet?');">
    <button uk-icon="icon: trash" class="btn"></button>
</form>
