<form method="delete" action="{{ path('team_delete', {'id': team.id}) }}" onsubmit="return confirm('Are you sure you want to delete this commet?');">
    <button uk-icon="icon: trash" class="btn"></button>
</form>
